.container{
    display:flex;
    position: relative;
    top: 5vh;

}
.buttoncontainer{
    display: flex;
    justify-content: center;
    gap: 2vh;
    position: relative;
    top: 5vh;
}
button{
    padding: 8vh;
    background-color: white;
    font: inherit;
    text-align: center;
    border-radius: 50vh;
    width: 30vh;
    font-size: 4vh;
}
h1{
    font-size: 15vh;
    position: relative;
    bottom: 5vh;
    display: flex;
    justify-content: center;
}
span{
    position: relative;
    bottom: 2vh;
    display: flex;
    justify-content: center;
    font-size: 10vh;
}

